@model IEnumerable<net23_asp_net_labb2.Models.Course>
@{
    ViewData["Title"] = "Courses";
}

<h2>Courses:</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>                    
                </td>
            </tr>
        }
    </tbody>
</table>
