@model StudentCourseTeacherViewModel
@{
    ViewData["Title"] = "Results";
}

<h2>Students and their Teachers based by Course</h2>
<hr />
@if (Model.Students.Count > 0 && Model.Teachers.Count > 0)
{
    <div>
        <h3>Course: @Model.Course.Name</h3>
        <h4>Students</h4>
        <ul>
        @foreach (var student in Model.Students)
        {
            <li>@student.Name</li>            
        }
        <h4>Teachers</h4>
        @foreach(var teacher in Model.Teachers)
            {
                <li>@teacher.Name</li>
            }
        </ul>
    </div>
}
else
{
    <div>
        <p>Nothing found.</p>
    </div>
}
<div class="mt-4">
    <a asp-action="Index">Back</a>
</div>